.crop-container {
  position: absolute;
  top: 180px;
  left: 0;
  right: 0;
  height: 50%;
}

.controls {
  position: absolute;
  bottom: 7%;
  width: 50%;
  transform: translateX(20%);
  height: 80px;
  display: flex;
  align-items: center;
}

.slider {
  padding: 22px 0px;
}

input[type="file" i] {
  -webkit-appearance: initial;
  background-color: #E0E0EA;
  cursor: default;
  align-items: baseline;
  color: #14123A;
  text-align: start !important;
  padding: 9px 10px 4px 10px;
}

.input-class-upload-image {
  width: 70%;
  height: 24px;
  padding: 9px 10px 4px 10px;
  border: 1px solid #d9d9d9;
  border-radius: 3px;
  font-size: 12px;
}

.btn-image-upload {
  background: #E0E0EA;
  border-radius: 23px;
  color: #14123A;
  display: inline-block;
  font-size: 13px;
  padding: 11px 25px;
  font-weight: bold;
  margin: 20px auto;
  border: none;
  text-decoration: none !important;
  position: absolute;
  bottom: 7%;
  left: 70%;
}

