.row {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}


.content {
  display: flex;
  flex-direction: column;
  align-items: center; 
  justify-content: center;
  height: 100vh;
  background-color: #14123A;
}

.btn {
  background: #E0E0EA;
  border-radius: 23px;
  color: #14123A;
  display: inline-block;
  font-size: 13px;
  padding: 15px 25px;
  font-weight: bold;
  margin: 10px auto;
  width: 265px;
  border: none;
}

.p {
  color: #E0E0EA;
  font-size: 16px;
  text-decoration: none;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  margin: 20px auto;
  text-align: center;
}

.p-footer {
  color: #E0E0EA;
  font-size: 16px;
  text-decoration: none;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  margin: 26px auto;
  text-align: center;
}

/* FOOTER */

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #14123A;
  color: #E0E0EA;
  text-align: center;
  height: 70px;
}

/* NAVBAR */

.navbar {
  height: 70px;
  background-color: #14123A;
  position: fixed;
  right: 0;
  left: 0;
  top: 0;
  z-index: 1030;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-right: 20px;
}

.nav-div {
  display: inline-block;
  width: 10%;
}

.bar {
  font-size: 24px;
  margin: 22px 0 0 20px;
}

.main-nav {
  list-style-type: none;
  background-color: #14123A;
  display: block;
  padding: 0px;
  position: fixed;
  right: 0;
  left: 0;
  top: 55px;
  z-index: 1030;
  width: 100%;
}

.nav-links {
  text-decoration: none;
  color: #E0E0EA;
}

.nav-links-li {
  padding: 20px 0 20px 10px;
  border-bottom: 1px solid #E0E0EA;
  cursor: pointer;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}



/*  LOGIN */

.form-login {
  margin: 0px;
  border: none;
}

.input-login {
  width: 90%;
  height: 33px;
  font-size: 17px;
  margin: 0 auto 20px;
  padding: 5px 10px;
  border: 2px solid #E0E0EA;    
  border-radius: 23px;
  background-color: #14123A;
  color: #E0E0EA;
}

input[type="email"].input-login::-webkit-input-placeholder {
  color: #E0E0EA;
}

input[type="password"].input-login::-webkit-input-placeholder {
  color: #E0E0EA;
}

input[type="text"].input-login::-webkit-input-placeholder {
  color: #E0E0EA;
}


/* HOME */

.home {
  margin-top: 70px;
  background-color: #E0E0EA;
  min-height: 100vh;

}